<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c971a1">  <td>24/04/08 13:51:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Schema_Validation.validation_of_schemas_for_the__api_v1_Books_post_Api()[pri:2, instance:API_Schema_Validation_Automation.Schema_Validation@3514a4c0]">validation_of_schemas_for_the__api_v1_Books_post_Api</td> 
  <td>main@125130493</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>24/04/08 13:51:21</td>   <td>-1040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Schema_Validation.validation_of_schemas_for_the_Author_for_Post_Api()[pri:1, instance:API_Schema_Validation_Automation.Schema_Validation@3514a4c0]">validation_of_schemas_for_the_Author_for_Post_Api</td> 
  <td>main@125130493</td>   <td></td> </tr>
</table>
